body {
	background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	transform: translate3d(0, 0, 0);
}
 
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.img-box {
	cursor: pointer;
	transition: all 5s ease;
	animation: rotate 60s linear infinite;
}
.text {
	
	font-size: 60px;
	color: #bbff00;
	cursor: default;
	font-weight: bold;
	text-align: center;
	margin-top: -7%;
}
@keyframes rotate {
	from {
	  transform: rotate(360deg);
	}
  }
.active {
	position: absolute;
	margin-top: 40%;
	margin-left: 70%;
	transition: 10s;
	text-align: center;
	cursor: pointer;
}
